{% extends 'base.html.twig' %}

{% block title %}{{ 'pages.about.title' | trans | capitalize }}{% endblock %}

{% block body_class %}about{% endblock %}

{% block body %}
    <article>
        <section>
            <h1>{{ about.title }}</h1>

            {{ about.content | raw }}
        </section>
    </article>
{% endblock %}
