/** Colors **/
$color-bg-primary: #ffeaae;
$color-bg-secondary: #fffaeb;
$color-bg-third: #d4560c;
$color-bg-fourth: #6b2b06;
$color-bg-fifth: #873608;

$color-fg-primary: #271002;
$color-fg-secondary: #155166;
$color-fg-third: #ed771d;

/** Fonts **/
$font-size-default: 16px;
$font-family-primary: 'Open Sans', sans-serif;
$font-family-secondary: 'PT Sans', sans-serif;
