{% extends 'base.html.twig' %}

{% block title %}{{ 'pages.play.title' | trans | capitalize }}{% endblock %}

{% block body_class %}play{% endblock %}

{% block body %}
    <article>
        <section>
            <h1>{{ 'pages.play.title' | trans | capitalize }}</h1>


        </section>
    </article>
{% endblock %}
