{% extends 'base.html.twig' %}

{% block title %}{{ 'default.welcome' | trans | capitalize }}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
    <article>
        <section class="cover">
            Cover
        </section>

        <section class="games">
            Les jeux
        </section>

        <section class="play">
            Jouer en ligne
        </section>
    </article>
{% endblock %}
