.app_alert {
    margin: 1rem -0.5rem;
    padding: 0.5rem;
    text-align: center;
    color: $color-fg-primary;

    @include respond(sm) {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    @include respond(md) {
        margin-left: -1.5rem;
        margin-right: -1.5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    &.danger {
        font-weight: bold;
        color: $color-bg-secondary;
        background-color: darkred;
    }

    &.warning {
        font-weight: bold;
        color: $color-bg-secondary;
        background-color: $color-orange;
    }

    &.success {
        font-weight: bold;
        color: $color-bg-secondary;
        background-color: forestgreen;
    }

    &.info {
        background-color: $color-bg-primary;
    }
}

.info {
    text-align: center;
}
