.app-alert {
    margin: 0 0 1.5rem;
    padding: 1rem 0.5rem;
    line-height: 1.5rem;
    text-align: center;
    background-color: $color-bg-secondary;
    border-top: 1px solid $color-bg-secondary;
    border-bottom: 1px solid $color-bg-secondary;

    @include respond(sm) {
        margin: 0 1rem 1.5rem;
        padding: 1rem;
        border-left: 1px solid $color-bg-secondary;
        border-right: 1px solid $color-bg-secondary;
        border-radius: 0.5rem;
    }

    @include respond(md) {
        margin: 0 1.5rem 1.5rem;
        padding: 1rem 1.5rem;
    }

    &.danger {
        color: red;
        border-color: red;
    }

    &.warning {
        color: darkorange;
        border-color: darkorange;
    }

    &.success {
        color: green;
        border-color: green;
    }

    &.info {
        color: royalblue;
        border-color: royalblue;
    }
}
