.app_form {
    margin: 1.5rem 0 0;
    padding: 1rem 0.5rem;

    @include respond(sm) {
        padding: 1rem;
        background-color: $box-shadow-color-alt;
        border-radius: $border-radius-default;
        box-shadow: inset calc(#{$box-shadow-x} / 2) calc(#{$box-shadow-y} / 2) $box-shadow-radius $box-shadow-color;
    }

    @include respond(md) {
        padding: 1.5rem;
    }

    .app_form_group {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5rem;

        .app_form_control {
            order: 2;
            display: block;
            padding: 0.5rem 1rem;
            width: 100%;
            font-family: $font-family-primary;
            font-size: 1rem;
            text-align: center;
            color: $color-fg-primary;
            background-color: $color-bg-primary;
            border: 2px solid $color-fg-primary;
            border-radius: $border-radius-default;
            box-shadow: $box-shadow-x $box-shadow-y $box-shadow-radius $box-shadow-color;

            &[required] + label:after {
                content: "*";
                color: red;
            }

            option {
                text-align: center;
            }
        }

        label {
            order: 1;
            display: block;
            margin-bottom: 0.25rem;
            font-family: $font-family-secondary;
            font-weight: 600;
            text-align: center;

            @include respond(sm) {
                margin-bottom: 0.5rem;
                font-size: 1.25rem;
            }
        }

        textarea {
            &.app_form_control {
                max-width: 100%;
                min-width: 100%;
                min-height: 5rem;
                text-align: left;
                text-align-last: left;
            }
        }

        select {
            &.app_form_control {
                cursor: pointer;
            }
        }
    }
}

@import "buttons";
