.app_grid {
    @include respond(sm) {
        display: grid !important;
        grid-gap: 1rem;
        margin: 0 0.5rem 1.5rem;
    }

    @include respond(md) {
        grid-gap: 1.5rem;
        margin: 0 1rem 1.5rem;
    }

    &.two {
        @include respond(sm) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &.three {
        @include respond(sm) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &.four {
        @include respond(sm) {
            grid-template-columns: repeat(3, 1fr);
        }

        @include respond(md) {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &.five {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0.5rem;
        margin: 0 0 1.5rem;

        .app_grid_item {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: center;
            background-color: $color-bg-altmenu;
            border-radius: $border-radius-default;
            transition: background-color 0.3s ease-in-out;

            &:hover {
                background-color: $color-blue;
            }

            .app_grid_item_title {
                display: block;
                margin: 0 0.5rem 0.5rem;
                font-family: $font-family-secondary;
                font-size: 0.9rem;
                font-weight: bold;
                text-align: center;
                color: $color-bg-secondary;
                text-shadow: calc(#{$box-shadow-x} / 2) calc(#{$box-shadow-y} / 2) 0 $box-shadow-color;
                width: calc(100% - 1rem);
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &.placehold {
                background-color: $color-bg-primary;

                .app_grid_item_title {
                    color: $color-fg-primary;
                    text-shadow: calc(#{$box-shadow-x} / 2) calc(#{$box-shadow-y} / 2) 0 $box-shadow-color-alt;
                }
            }
        }

        @include respond(md) {
            grid-template-columns: repeat(5, 1fr);
        }
    }

    .app_grid_item {
        background-color: $color-bg-primary;

        @include respond(sm) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-radius: $border-radius-default;
            box-shadow: $box-shadow-x $box-shadow-y $box-shadow-radius $box-shadow-color;
        }

        a {
            text-decoration: none;
        }

        .app_grid_item_header {
            .app_grid_item_image {
                margin-bottom: 0.5rem;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }

        .app_grid_item_title {
            margin: 0 0.25rem;
            text-align: center;
        }

        .app_grid_item_subtitle {
            margin: 0 0.25rem 0.5rem;
            text-align: center;

            &.sub {
                font-style: italic;
            }
        }

        .app_grid_item_image {
            max-height: 95%;
            border-radius: $border-radius-default;

            @include respond(sm) {
                display: block;
                width: 100%;
                object-fit: cover;
            }
        }

        .app_grid_item_info {
            margin-bottom: 0.5rem;
            line-height: normal;
            text-align: center;

            &.excerpt {
                padding: 0 0.5rem;
                text-align: left;
                font-size: 0.8rem;
            }

            &:last-of-type {
                /*margin: 1.5rem 0;*/
            }
        }

        .app_grid_item_footer {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            margin: 1rem 0 0;

            .app_grid_item_footer_action {
                display: block;
                padding: 0.5rem;
                font-family: $font-family-secondary;
                font-weight: bold;
                text-align: center;
                border: none;
                box-shadow: none;
                border-radius: 0;

                &.button {
                    color: $color-blue;
                    background-color: transparent;
                    text-decoration: none;

                    &:first-child {
                        border-bottom-left-radius: $border-radius-default;
                    }

                    &:last-child {
                        border-bottom-right-radius: $border-radius-default;
                    }

                    &.cta {
                        color: $color-fg-primary;
                        background-color: $color-orange;
                    }

                    &.danger {
                        color: $color-red;
                    }

                    &:hover {
                        color: $color-bg-primary;
                        background-color: $color-blue;
                    }
                }

                &:first-child {
                    border-bottom-left-radius: $border-radius-default;
                }

                &:last-child {
                    border-bottom-right-radius: $border-radius-default;
                }

                &.danger {
                    color: $color-red;

                    &:hover {
                        color: $color-bg-primary;
                        background-color: $color-red;
                    }
                }
            }
        }
    }
}
