.app_image {
    display: block;
    margin: 0 auto;
    border: 0.25rem solid $color-bg-primary;
    border-radius: $border-radius-default;
    box-shadow: $box-shadow-x $box-shadow-y $box-shadow-radius $box-shadow-color;
}
