.app-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba($color-bg-secondary, 0.95);

    @include respond(sm) {
        justify-content: center;
    }

    .app-modal-box {
        position: relative;
        margin-top: 2rem;
        padding: 4.5rem 2rem 1rem;
        background-color: $color-bg-primary;
        border: 2px solid $color-fg-primary;
        border-radius: 0.5rem;
        box-shadow: 4px 4px 8px rgba($color-fg-primary, 0.5);

        @include respond(sm) {
            padding: 2rem 3rem;
        }
    }

    .app-modal-close {
        position: absolute;
        top: 1.5rem;
        right: 0.5rem;
        padding: 0.5rem 1rem;
        border-radius: 50%;

        @include respond(sm) {
            top: 0.5rem;
        }
    }

    .app-modal-body {
        text-align: center;

        .app-modal-title {
            padding-bottom: 1rem;
            margin-bottom: 1.5rem;
            text-align: center;
            border-bottom: 3px solid $color-fg-third;
        }

        .app-button {
            display: block;
            margin: 0.5rem 0;
        }
    }
}
