.characteristic{
    .info {
        margin: 0 1rem 1.5rem;
        text-align: center;
    }

    .otitle{
        font-weight: bold;
        color: white;
        background-color: $color-violet;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .app_grid{
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 1rem;
    }

    .cname{
        display: flex;
        justify-content: center;
        align-items: center;        
    }

    span{
        text-transform: uppercase;
    }
}