.characteristics{
    .border_title{
        border: #6b2b06 solid 1px;
    }

    .htitle{
        text-align: center;
        color: #6b2b06;
        font-weight: bold;
    }

    .vtitle{
        text-align: center;
        font-weight: bold;
        color: white;
        background-color: #6b2b06;
    }

    .subtitle{
        text-align: center;
        color: white;
        background-color: #6b2b06;
    }

    .data_case{
        text-align: center;
        height: 100%;
        font-size: 1.5rem;
        color: black;  
        font-weight: bold;
        font-family: candara;     
    }

}