.defense{
    .vtitle{
        background-color: $color-blue;
    }

    .subtitle{
        background-color: $color-blue;
    }

    .defense_info {
        font-weight: bold;
        height: 25px;
        margin: 0 1rem 0rem;
    }
}