.healthpoints{
    .health_info {
        border: 1px $color-bg-alt solid;
        height: 100px;
        margin: 0 1rem 1.5rem;
    }

    .vtitle{
        background-color: darkgreen;
    }

    .subtitle{
        background-color: darkgreen;
    }

    #healthRange {
        margin-bottom: 2rem;
    }
}
