.level{
    .number{
        background-color: #6b2b06;
        color: whitesmoke;
        font-weight: bold;
        font-size: larger;
        text-align: center;
        font-family: $font-family-third;  
    }
}