.skills{
    .htitle{
        text-align: left;
        text-transform: uppercase;
    }

    .subtitle{
        text-align: center;
    }

    .data_case{
        text-align: left;
        font-size: medium;
    }
}