<h2 class="app_modal_title">
    Les équipements de {{ character.fullname }}
    {% set game = character.game %}

</h2>


<div id="menu-tab" class="app_tabs">
    <div id="page-wrap">
        <div class="tabs">
            
        </div>
    </div>
</div>


