&.about {
    .app-main {
        section {
            &.about {
                & > header {
                    padding: 1.5rem 0.5rem;

                    @include respond(sm) {
                        padding: 1.5rem 1.5rem;
                    }
                }

                & > main {
                    padding: 1.5rem 0.5rem;
                    background-color: $color-bg-primary;

                    @include respond(sm) {
                        padding: 1.5rem 1.5rem;
                        border-radius: 0.5rem;
                        box-shadow: 4px 4px 8px rgba($color-fg-primary, 0.5);
                    }
                }

                @include respond(sm) {
                    margin: 0 auto 2rem;
                    width: 96vw;
                }

                @include respond(md) {
                    width: 70vw;
                }
            }
        }
    }
}
