&.characters {
    .app-main {
        section {
            &.characters {
                margin-bottom: 0;

                @include respond(sm) {
                    margin-bottom: 2rem;
                }

                & > .app-grid {
                    display: block;
                    overflow: initial;
                    margin-bottom: 0;

                    & > .app-grid-item {
                        padding: 0;
                        margin: 0 0 1.5rem;
                        text-align: center;
                        background-color: $color-bg-primary;
                        border-radius: 0;

                        &:last-child {
                            margin-bottom: 0;

                            p {
                                &:last-of-type {
                                    margin-bottom: 0;
                                }
                            }
                        }

                        @include respond(sm) {
                            padding: 1.5rem;
                            border-radius: 0.5rem;
                        }
                    }

                    @include respond(sm) {
                        display: grid;
                        grid-template-columns: 6fr 4fr;
                        align-items: flex-start;
                        margin-bottom: 1rem;

                        .app-grid-item {
                            width: auto;
                            text-align: left;
                        }
                    }

                    @include respond(md) {
                        grid-template-columns: 7fr 3fr;
                    }
                }

                main {
                    .app-grid {
                        margin: 0 0.5rem;

                        .app-grid-item-title {
                            margin-bottom: 0.5rem;
                        }

                        .app-grid-item {
                            .app-grid-excerpt {
                                text-align: left;
                            }
                        }
                    }
                }

                aside {
                    &.app-grid-item {
                        background-color: $color-bg-secondary !important;
                        box-shadow: none !important;
                    }

                    @include respond(sm) {
                        &.app-grid-item {
                            background-color: $color-bg-primary !important;
                            box-shadow: 2px 2px 4px rgba($color-fg-primary, 0.5) !important;
                        }
                    }
                }
            }
        }
    }
}
