&.contact {
    .app-main {
        section {
            &.contact {
                margin-bottom: 0;

                .app-grid {
                    display: block;
                    overflow: initial;
                    margin-bottom: 0;

                    .app-grid-item {
                        margin: 0 0 1.5rem;
                        text-align: center;
                        background-color: $color-bg-primary;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }

                    @include respond(sm) {
                        display: grid;
                        grid-template-columns: 6fr 4fr;
                        align-items: flex-start;

                        .app-grid-item {
                            width: auto;
                            text-align: left;
                        }
                    }

                    @include respond(md) {
                        grid-template-columns: 7fr 3fr;
                    }
                }

                aside {
                    &.app-grid-item {
                        background-color: $color-bg-secondary !important;
                        box-shadow: none !important;
                    }

                    @include respond(sm) {
                        &.app-grid-item {
                            background-color: $color-bg-primary !important;
                            box-shadow: 2px 2px 4px rgba($color-fg-primary, 0.5) !important;
                        }
                    }
                }
            }
        }

        #map {
            height: 50vh;

            @include respond(md) {
                height: 60vh;
            }
        }

        .map-info {
            margin: 0.5rem 1rem;
            font-size: 0.8rem;
            font-style: italic;
            text-align: center;
        }
    }
}
