&.faq {
    article {
        section {
            dl {
                dt {
                    margin-bottom: 0.5rem;
                    font-family: $font-family-secondary;
                    font-size: 1.25rem;
                    text-transform: uppercase;
                    color: $color-bg-alt;
                    text-shadow: calc(#{$box-shadow-x} / 2) calc(#{$box-shadow-y} / 2) 0 $box-shadow-color-alt;
                }

                dd {
                    margin-bottom: 3rem;
                }
            }
        }
    }
}
