&.home {

    h1 {
        text-align: center;
        background-color: rgba($color-bg-secondary, 0.4);
        text-shadow: calc(#{$box-shadow-x} / 2) calc(#{$box-shadow-y} / 2) 0 $box-shadow-color-alt;
    }

    article {
        & > section {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            @include respond(sm) {
                margin: 0;
                border-radius: 0;
                box-shadow: none;
            }

            &.cover {
                min-height: 50vh;
                background-color: transparent;
                background-image: url('../images/home_cover.jpg');
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;

                @include respond(sm) {
                    min-height: 30vh;
                }

                h1 {
                    margin-bottom: 0;
                }

                .app_logo {
                    margin: 2rem 0;
                    filter: drop-shadow($box-shadow-x $box-shadow-y $box-shadow-radius $box-shadow-color);
                }
            }

            &.games {
                .app_grid {
                    .app_grid_item {
                        background-color: transparent;
                        box-shadow: none;

                        .app_grid_item_image {
                            box-shadow: $box-shadow-x $box-shadow-y $box-shadow-radius $box-shadow-color;
                        }
                    }
                }
            }

            &.play {
                position: relative;
                background-color: $color-orange;

                img {
                    &:first-of-type {
                        margin-bottom: 2rem;
                    }

                    &:last-of-type {
                        position: absolute;
                        top: 20%;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 50%;

                        @include respond(sm) {
                            width: 25%;
                        }

                        @include respond(md) {
                            width: 12%;
                        }
                    }
                }

                .app_button {
                    &.cta {
                        padding-left: 0;
                        padding-right: 0;
                        width: 100vw;
                        font-size: 1.5rem;
                        color: $color-bg-primary;
                        background-color: $color-bg-alt;
                        border-color: $color-bg-alt;
                        border-left: none;
                        border-right: none;
                        border-radius: 0;
                        box-shadow: none;
                    }
                }
            }
        }
    }
}
