&.table {
    article {
        section {
            margin: 0;
            padding: 0;
            height: calc(100vh - 3.5rem);
            border-radius: 0;
            box-shadow: none;

            @include respond(sm) {
                height: calc(100vh - 4rem);
            }

            h1 {
                margin: 0;
                border-radius: 0;
            }

            & > .content {
                display: flex;
                justify-content: space-between;
                height: calc(100% - 3rem);

                @include respond(sm) {
                    height: calc(100% - 3.5rem);
                }

                @include respond(md) {
                    height: calc(100% - 4rem);
                }

                #visio {
                    width: calc(100% - 2rem);
                    padding: 1rem;
                    color: $color-bg-primary;
                    background-color: $color-black;
                    box-shadow: inset 4px 4px 16px #000000;
                }

                #controls {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    overflow: hidden;
                    padding: 1rem 0.25rem;
                    flex: 0 0 1rem;
                    background-color: $color-fg-primary;
                    transition: all 0.3s ease-in-out;

                    & > .toggle {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 1.5rem;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: $color-bg-secondary;
                        background-color: $color-bg-alt;
                    }

                    &.on {
                        padding-left: 1.75rem;
                        flex: 0 0 80%;

                        @include respond(sm) {
                            flex: 0 0 50%;
                        }

                        @include respond(md) {
                            flex: 0 0 30%;
                        }
                    }

                    & > .top {
                        display: grid;
                        grid-template-columns: repeat(4, 1fr);
                        grid-gap: 0.25rem;
                        justify-content: center;
                    }

                    & > .bottom {
                        display: flex;
                        align-items: flex-end;
                        justify-content: flex-end;

                        & > a {
                            margin: 0 1rem;
                        }
                    }

                    & > .top {
                        .character {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: space-between;

                            & .modal {
                                img {
                                    margin-bottom: 0.25rem;
                                    height: 5rem;
                                    object-fit: cover;
                                    object-position: top;
                                }
                            }
                        }
                    }

                    #diceset {
                        & > .name {
                            color: $color-bg-secondary;
                            text-align: center;
                            text-shadow: none;
                        }

                        .dices {
                            display: grid;
                            grid-template-columns: repeat(6, 1fr);
                            grid-gap: 0.5rem;

                            a {
                                margin: 0;
                            }
                        }
                    }

                    a {
                        display: block;
                        margin-bottom: 1.5rem;
                        font-family: $font-family-secondary;
                        font-size: 0.8rem;
                        font-weight: bold;
                        text-transform: uppercase;
                        text-decoration: none;
                        text-align: center;
                        color: $color-bg-secondary;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        &.warning {
                            color: $color-orange;
                        }

                        &.danger {
                            color: $color-red;
                        }

                        &.kick {
                            margin-top: 0.25rem;
                            color: $color-red;

                            i {
                                font-size: 1.5rem;
                            }
                        }

                        &:hover {
                            color: $color-orange;
                        }

                        i {
                            margin-bottom: 0.25rem;
                            font-size: 2rem;
                        }
                    }
                }
            }
        }
    }
}
