&.table {
    article {
        section {
            margin: 0;
            padding: 0;
            height: calc(100vh - 4rem);
            border-radius: 0;
            box-shadow: none;

            h1 {
                margin: 0;
                border-radius: 0;
            }

            & > .content {
                display: grid;
                grid-template-columns: 9fr 1fr;
                height: calc(100% - 4.5rem);

                #visio {
                    padding: 1rem;
                    color: $color-bg-primary;
                    background-color: $color-black;
                    box-shadow: inset 4px 4px 16px #000000;
                }

                .controls {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 1rem 0.25rem;
                    background-color: $color-fg-primary;

                    & > .top,
                    & > .bottom {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-gap: 0.25rem;
                        justify-content: center;
                    }

                    #diceset {
                        text-align: center;

                        & > .name {
                            text-align: center;
                        }
                    }

                    a {
                        display: block;
                        margin-bottom: 1.5rem;
                        font-family: $font-family-secondary;
                        font-size: 0.8rem;
                        font-weight: bold;
                        text-transform: uppercase;
                        text-decoration: none;
                        text-align: center;
                        color: $color-bg-secondary;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        &.warning {
                            color: $color-orange;
                        }

                        &.danger {
                            color: $color-red;
                        }

                        &.kick {
                            margin-top: 0.25rem;
                            color: $color-red;

                            i {
                                font-size: 1rem;
                            }
                        }

                        &:hover {
                            color: $color-orange;
                        }

                        i {
                            margin-bottom: 0.25rem;
                            font-size: 2rem;
                        }
                    }
                }
            }
        }
    }
}
