{% for characterCharacteristic in character.characterCharacteristics %}
    {% if characterCharacteristic.characteristic.shortname == 'PC' %}
        <div class="shock app_grid three">
            <div>
                <div class="vtitle">
                    {{ characterCharacteristic.characteristic.shortname }}
                </div>
                <div class="subtitle">
                    {{ characterCharacteristic.characteristic.name }}
                </div>
            </div>
            <div class="border_title data_case">
                {{ characterCharacteristic.base }}
            </div>
            <div class="border_title data_case"></div>
        </div>
    {% endif %}
{% endfor %}

<div class="shock app_grid two">
    <div class="shock_info border_title">
        Points de folie:
    </div>
    <div class="shock_info border_title">
        PC restants:
    </div>
</div>