<div class="app_grid two">
    <div class="htitle">
        Arme
    </div>
    <div class="htitle">
        Dégâts
    </div>
</div>

{% for i in 1..2 %}
<div class="weapon app_grid two">
    <div class="weapon_info"></div>
    <div class="weapon_info"></div>
</div>
{% endfor %}