<div id="visio">
    <div class="app_modal on">
        <div class="app_modal_box">
            <button class="app_button app_modal_close">
                <i class="fas fa-times"></i>
            </button>
            <div class="app_modal_body">
                <h2 class="app_modal_title">{{ scenario.name }}
                    <small>Résumé</small>
                </h2>
                {{ scenario.description | raw }}
            </div>
        </div>
    </div>
</div>
