<div id="visio">
    <script type="text/javascript">
        const domain = 'meet.jit.si';
        const options = {
            roomName: '{{ scenario.slug }}',
            width: '100%',
            height: 500,
            parentNode: document.querySelector('#visio'),
            configOverwrite: {},
            interfaceConfigOverwrite: {},
            userInfo: {
                email: '{{app.user.email}}',
                displayName: '{{app.user.pseudo}}',
            },
            
        };
        const api = new JitsiMeetExternalAPI(domain, options);
    </script>

</div>
