.app_footer {
    padding: 1rem 0.5rem;
    color: $color-bg-secondary;
    background-color: $color-fg-primary;

    @include respond(sm) {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    @include respond(md) {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
