.app_header {
    position: sticky;
    top: 0;
    z-index: 9999;
    padding: 0.5rem 0.5rem;
    color: $color-bg-secondary;
    background-color: $color-bg-alt;
    box-shadow: 0 $box-shadow-y $box-shadow-radius $box-shadow-color;

    @include respond(sm) {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    @include respond(md) {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .app_logo {
        display: block;
        text-decoration: none;

        img {
            display: block;
            height: 2.5rem;
            filter: drop-shadow($box-shadow-x $box-shadow-y $box-shadow-radius $box-shadow-color);
        }
    }
}
