html {
    font-size: $font-size-default;
    scroll-behavior: smooth;

    body {
        font-family: $font-family-primary;
        font-size: 1rem;
        color: $color-fg-primary;
        background-color: $color-bg-secondary;

        h1 {
            margin: 0 0 2rem;
            padding: 1.5rem 0.5rem;
            font-family: $font-family-secondary;
            font-size: 2rem;
            text-transform: uppercase;
            line-height: 2.5rem;
            text-align: center;
            color: $color-bg-fifth;
            background-color: $color-bg-secondary;
            text-shadow: 1px 1px 1px rgba($color-fg-primary, 0.25);

            @include respond(sm) {
                border-radius: 0.5rem;
                box-shadow: 2px 2px 4px rgba($color-fg-primary, 0.25);
            }

            small {
                display: block;
                font-size: 0.8em;
            }
        }

        h2 {
            margin-bottom: 0.5rem;
            font-family: $font-family-secondary;
            font-size: 1.5rem;
            text-transform: uppercase;
            line-height: 2rem;
            text-align: center;
            color: $color-bg-fifth;
            text-shadow: 1px 1px 1px rgba($color-fg-primary, 0.25);

            @include respond(sm) {
                text-align: left;
            }

            small {
                display: block;
                font-size: 0.8em;
            }
        }

        h3 {
            margin-bottom: 0.5rem;
            font-family: $font-family-secondary;
            font-size: 1.25rem;
            text-transform: uppercase;
            line-height: 1.75rem;
            text-align: center;
            color: $color-bg-fifth;
            text-shadow: 1px 1px 1px rgba($color-fg-primary, 0.25);

            @include respond(sm) {
                text-align: left;
            }
        }

        a {
            color: $color-fg-secondary;

            &[href$=".pdf"] {
                &:after {
                    content: "pdf";
                    margin-left: 0.5rem;
                    vertical-align: super;
                    font-size: 0.8rem;
                    text-decoration: none;
                }
            }
        }

        .app-main {
            section {
                p,
                li,
                dd {
                    margin: 0 1rem 1.5rem;
                }

                ol,
                ul,
                dl {
                    margin: 0 0.5rem 1.5rem;
                }

                dt {
                    font-weight: bold;
                }

                @include respond(sm) {
                    margin-top: -0.5rem !important;
                }

                main {
                    padding: 0 0 1.5rem;
                    background-color: $color-bg-primary;

                    @include respond(sm) {
                        padding: 1.5rem 1.5rem;
                        border-radius: 0.5rem;
                        box-shadow: 4px 4px 8px rgba($color-fg-primary, 0.5);
                    }
                }

                @include respond(sm) {
                    margin: 0 auto 2rem;
                    width: 96vw;
                }

                @include respond(md) {
                    width: 70vw;
                }

                aside {
                    padding: 1.5rem 0.5rem;
                    background-color: $color-bg-primary;

                    @include respond(sm) {
                        padding: 2rem 1.5rem 1.5rem;
                        border-radius: 0.5rem;
                        box-shadow: 4px 4px 8px rgba($color-fg-primary, 0.5);
                    }
                }

                @include respond(sm) {
                    margin: 0 auto 2rem;
                    width: 96vw;
                }

                @include respond(md) {
                    width: 70vw;
                }
            }
        }

        @import "header", "main", "footer";

        @import "../pages/home", "../pages/about", "../pages/contact", "../pages/faq", "../pages/games", "../pages/play";

        @import "../components/forms", "../components/images", "../components/grids", "../components/modals";
    }
}
