html {
    font-size: $font-size-default;
    scroll-behavior: smooth;

    body {
        font-family: $font-family-primary;
        font-size: 1rem;
        color: $color-fg-primary;
        background-color: $color-bg-secondary;

        h1 {
            font-family: $font-family-secondary;
            font-size: 2rem;
            text-transform: uppercase;
            line-height: 2.5rem;
            text-align: center;
        }

        h2 {
            margin-bottom: 1rem;
            font-family: $font-family-secondary;
            font-size: 1.5rem;
            text-transform: uppercase;
            line-height: 2rem;
            text-align: center;
        }

        @import "header", "main", "footer";

        @import "../pages/home", "../pages/about";

        @import "../components/buttons", "../components/images", "../components/grids";
    }
}
