html {
    font-size: $font-size-default;

    body {
        font-family: $font-family-primary;
        font-size: 1rem;
        text-align: center;
        color: $color-fg-primary;
        background-color: $color-bg-primary;

        @include respond(sm) {
            text-align: left;
        }

        @import "../base/typography";
        @import "../components/forms", "../components/sliders", "../components/grids", "../components/alerts",
        "../components/images";

        @import "header";

        article {
            & > section,
            & > aside {
                padding: 1.5rem 0.5rem;
                background-color: $color-bg-secondary;

                @include respond(sm) {
                    margin: -0.5rem 1rem 1.5rem;
                    padding-top: 2rem;
                    padding-left: 1rem;
                    padding-right: 1rem;
                    border-bottom-left-radius: $border-radius-default;
                    border-bottom-right-radius: $border-radius-default;
                    box-shadow: $box-shadow-x $box-shadow-y $box-shadow-radius $box-shadow-color;
                }

                @include respond(md) {
                    margin-left: 15vw;
                    margin-right: 15vw;
                    padding-left: 1.5rem;
                    padding-right: 1.5rem;
                }
            }

            & > aside {
                background-color: transparent;

                @include respond(sm) {
                    background-color: $color-bg-secondary;
                }

                h2 {
                    margin-bottom: 0.5rem;
                }

                p,
                a {
                    display: block;
                    margin-bottom: 1rem;
                    line-height: normal;

                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }

            &.aside {
                @include respond(sm) {
                    display: grid;
                    grid-template-columns: 6fr 4fr;
                    grid-gap: 1rem;
                    align-items: flex-start;
                    padding: 0 0.75rem;

                    & > section,
                    & > aside {
                        margin-left: 0;
                        margin-right: 0;
                    }
                }

                @include respond(md) {
                    grid-template-columns: 7fr 3fr;
                    grid-gap: 1.5rem;
                    padding: 0 15vw;
                }
            }
        }

        @import "footer";

        @import "../pages/home", "../pages/login";
    }
}
