<div id="diceset">
    <h3 class="name">{{ scenario.game.gamesystem.diceset.name }}</h3>
    <div class="dices">
        {% for dice in scenario.game.gamesystem.diceset.dices %}
            <a href="#" title="Ajouter un {{ dice.name }}">
                <img src="{{ asset('assets/images/dices/' ~ dice.name | lower ~ '.png') }}" alt="{{ dice.name }}" />
            </a>
        {% endfor %}
    </div>
</div>
