<header class="app_header">
    <a href="{{ path('home') }}" class="app_logo" title="{{ 'pages.home.title' | trans | capitalize }}">
        <img src="{{ asset('assets/images/logo_adndd.png') }}" alt="{{ appConfig.getAppName() }}" />
    </a>
</header>
